@media screen and (max-width:960px) {
    .container {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 30px);
    }
    #header .search {
        margin-left: 120px;
        width: calc(100% - 240px);
    }
    #header .search-input {
        width: calc(100% - 240px);
    }
    #header .search-button {
        right: 240px;
    }
    #header .nav-search .container .count-time {
        top: 110px;
        /*left: calc(50% - 100px);*/
        width: 100%;
        text-align: center;
        font-size: 22px;
        padding: 12px;
    }
    .item-one .nicon {
        width: calc(33.3333333333% - 16px);
    }
}
@media screen and (min-width:1920px) {
    .container {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 960px;
        -webkit-animation: 0.8s both container-c;
        -moz-animation: 0.8s both container-c;
        -ms-animation: 0.8s both container-c;
        -o-animation: 0.8s both container-c;
        animation: 0.8s both container-c;
        transition: all .35s;
        margin-top: 15px;
    }
}